#.ignore忽略文件。作用：忽略文件中列举的文件不会被列入版本控制
#相关格式
#以#号开头或空行都会被Git忽略
#可以使用标准的glob正则表达式模式匹配文件，它会递归地应用在整个工作区
#匹配模式以(/) 开头防止递归
#匹配模式以(/) 结尾指定目录
#要忽略指定模式外的文件或目录，可在模式前加  (!) 取反

#星号（*）匹配零个或多个任意字符
#使用两个星号（**）表示匹配任意中间目录。例 a/**/z 可以匹配 a/z、a/b/z 或 a/b/c/z等
#[abc]匹配任何一个在列在方括号中的字符。这里只匹配一个a，或一个b，或一个c，而不会匹配ab，ac，abc等
#如果在方括号中使用短划线分隔两个字符，表示所有在这两个字符范围内的都可以匹配。例[0-9]表示匹配0到9的数字
#问号（?）只匹配 一个 任意字符

#在最简单的情况下，一个仓库可能只有一个.gitignore文件，它递归应用到整个仓库中。然而子目录下也可以有额外的.gitignore文件，子目录中的.gitignore文件中的规则只作用与它所在目录
#多个.gitignore文件的具体细节，可使用man gitignore 命令查看


#忽略任何目录下以Debug结尾的文件夹
Debug/

#忽略任何目录下以Release结尾的文件夹
Release/

/Debug

/Release

#忽略ipch目录下所有文件
/ipch

#忽略任何目录下以.svn结尾的文件夹
.svn/


#后缀.sln文件，为解决方案属性文件，必须添加到版本控制中
#后缀.vcxproj（2010及之后版本的VS工程文件） 和 .vcproj（VS2008及之前版本的VS工程文件）为项目属性文件，必须添加到版本控制中
#后缀.vcsproj.filters, 为过滤信息文件，解决方案中的筛选器文件就保存在此文件中，故一般也添加到版本控制中
#以上后缀文件非常重要，必须添加到版本控制中，不可删除

#后缀.aps, 由软件开发应用程序Microsoft Visual C++创建的文件；存储项目中包含的资源（.rc文件，Resource.h文件）的二进制表示，使应用程序能更快的加载资源，故可添加到版本控制

#后缀名.opensdf, 打开解决方案（Solution）时的临时文件，这个文件只有你的解决方案在VS打开的状态才会有，工程一关闭该文件就被删除了
#后缀.sdf, 用VS做开发的时候，VS会在项目文件夹下自动生成一个ipch的文件夹和(项目名).sdf 的文件夹，这两个文件都很大。这些文件是VS用来保存预编译的头文件和Intellisence用的，删除这些文件对于工程的开发完全没有影响，因此无需添加到版本控制

#后缀.suo, Solution User Opertion解决方案用户选项，记录所有将于解决方案建立关联的选项，以便在每次打开时，它都包含用户所做的自定义设置，可添加到版本控制
#后缀.vcxproj.user, 用户相关配置，可添加到版本控制

#忽略所有以.sdf后缀结尾的文件
*.sdf

#忽略所有以.opensdf后缀结尾的文件
*.opensdf

#忽略无编译浏览文件（no compile browser）
*.ncb
